.app-body{
    margin-top: 80px;
}

@media screen and (max-width: 850px){
.navbar-collapse{
    background-color: #65a6d8;
    text-align: center;
}
}

.nav-styles{
    background-color: #65a6d8;
}

.nav-styles a{
    color: white;
}

.nav-styles a:hover{
    color: #c9c9c9;
}

a.nav-link.active{
    color: white !important;
}

.dropdown-links a{
    color: #1a1b22;
}

.dropdown-links a:hover{
    color: #252830;
}