<div class="modal" materialize="modal" [materializeActions]="modalActions">              
          <div class="modal-content" style="height:130%">      
              <div class="row">          
              <div class="row">
                    <h3 class="grey-text text-darken-2 col-md-12">{{authMode}}</h3>                   
                            <app-login-form (onFormResult)="onLoginFormResult($event)"
                                            *ngIf="isLoginMode()">                   
                            </app-login-form>
                            <app-register-form (onFormResult)="onRegisterFormResult($event)"
                                               *ngIf="isRegisterMode()">                    
                            </app-register-form>
              </div>
              <div class="row">
                    <span class="grey-text text-darken-2" *ngIf="isLoginMode()">
                      <a (click)="authMode='註冊'">尚未註冊或不願FB登入?請點擊此註冊</a>
                    </span>
                    <span class="grey-text text-darken-2" *ngIf="isRegisterMode()">
                      <a (click)="authMode='登入'">已有帳號或願意使用FB登入?請點擊此登入</a>
                    </span>
                  </div>
          </div>
        </div>   
        </div>