<div class="container">
    <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start" href="">
            <h1>方案們</h1>
                <button type="button" *ngIf="authToken.currentUserData" class="btn btn-outline-primary btn-lg" routerLink="/proposal/new">新增</button>
        </div>
        <span *ngFor='let proposal of proposals' class="list-group-item list-group-item-action flex-column align-items-start">
            <a (click)="goToShow(proposal)" class="proposal-link">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">尋找： {{proposal.customer}}</h5>
                <small class="text-muted">時限：{{proposal.days_to_complete}} 日</small>
            </div>
                <p class="mb-1">酬勞 - {{ proposal.hourly_rate * proposal.estimated_hours | currency:'USD':true:'.0'  }}</p>
                <p class="mb-1">方案內容 - {{proposal.description}}</p>
                <small class="text-muted">我提供: {{proposal.provide_tool}}</small>
            </a>
        </span>
    </div>
</div>