<div class="container">
    <div *ngIf="proposal" class="card proposal-card">
        <div *ngIf="">
            <form (ngSubmit) = "deleteProposal(proposal)" #proposalForm='ngForm'>
            <button type="submit" class="btn btn-outline-primary btn-lg" >刪除</button>
            </form>
        </div>
        <h1>嗨囉，{{proposal.customer}}</h1>
            <div>
                <p>
                這是一個{{contentFillter(proposal.service_content)}}類型的請求
                </p>
                <p>
                我需要你能幫我做到這些事：{{proposal.description}}    
                </p>
                <p>
                我會提供:{{proposal.provide_tool}}    
                </p>
                <p>
                希望你能自備:{{proposal.tools}}
                </p>
                <p>
                希望你能在{{proposal.location}}幫我解決問題
                </p>
                <p>
                我估計你可能需要{{proposal.estimated_hours}}小時完成這個請求
                </p>
                <p>
                而酬勞將會是{{proposal.hourly_rate}}元
                </p>
                <p>
                最後希望你能在{{proposal.days_to_complete}}日前協助我完成，非常感謝！
                </p>
            </div>

    </div>
</div>