<div class="container">
<div class="list-group-item list-group-item-action flex-column align-items-start" href="">
        <h1>{{pageTitle}}</h1>
        <button type="button" *ngIf="authToken.currentUserData" class="btn btn-outline-primary btn-lg" routerLink="/nuggets/new">新增</button>
</div>
<div class="card" *ngFor="let document of documents">
    <div class="card-body">
        <h3 class="card-title">
            我是 : {{document.title}}
        </h3>
        <p class="card-text">
            服務項目 : {{ contentFillter(document.service_content) }}
        </p>
        <p class="card-text">
            服務地區 : {{ document.service_location }}
        </p>
        <p class="card-text">
            關於我 : {{ document.description }}
        </p>
        <p class="card-text">
            聯繫我 : {{ document.contact }}
        </p>  
        <p class="card-text">
            <small class="text-muted">
            建立時間 : {{ document.updated_at | date}}
            </small>
        </p>     
    </div>
</div>
</div>