<div class="container">
<div class="list-group-item list-group-item-action flex-column align-items-start" href="">
        <h1>{{pageTitle}}</h1>
        <button type="button" *ngIf="authToken.currentUserData" class="btn btn-outline-primary btn-lg" routerLink="/nuggets/new">新增</button>
</div>
<div class="card" *ngFor="let document of documents">
    <img class="card-img-top" src="{{ document.image_url }}" alt="Card image cap" style="width:100%">
    <div class="card-body">
        <h3 class="card-title">
            {{document.title}}
        </h3>
        <p class="card-text">
            <small class="text-muted">
            Last updated: {{ document.updated_at | date}}
            </small>
        </p>
        <p class="card-text">
            {{ document.description }}
        </p>
        <div>
            <a class="btn btn-primary btn-lg" href="{{document.file_url}}">Download File</a>
        </div>
    </div>
</div>
</div>